# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Ignore log files created by winston
combined.log
error.log

# Ignore directories where files are uploaded and errors are stored
uploads/
errors/
